{% extends "base.html" %}
{% block title %}
  {{ event.title }} |
  {{ event.start|date:"d E Y" }}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if event.image %}
          <a href="{{ event.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ event.image.url }}">
          </a>
        {% endif %}
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.description|safe }}</p>
      </div>
    </div>
  </div>
{% endblock %}