{% extends "base.html" %}
{% block title %}
  {{ post.title }} |
  {{ post.pub_datetime|date:"d E Y" }}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if post.image %}
          <a href="{{ post.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ post.image.url }}">
          </a>
        {% endif %}
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {% if not post.is_published %}
              <p class="text-danger">Снят с публикации</p>
            {% endif %}
            {{ post.pub_datetime|date:"d E Y" }}<br>
          </small>
        </h6>
        <p class="card-text">{{ post.text|safe }}</p>
      </div>
    </div>
  </div>
{% endblock %}