.card {
  width: 30rem; /* Уменьшаем ширину карточки */
  padding: 1rem; /* Уменьшаем внутренние отступы */
}

.card-body {
  padding: 0.5rem; /* Уменьшаем отступы внутри карточки */
}

.card-title {
  font-size: 1.25rem; /* Уменьшаем размер заголовка */
}

.card-subtitle {
  font-size: 0.9rem; /* Уменьшаем размер подзаголовка */
}

.card-text {
  font-size: 0.85rem; /* Уменьшаем размер текста описания */
}

.btn {
  font-size: 0.75rem; /* Уменьшаем размер кнопок тегов */
  margin-right: 0.2rem; /* Добавляем небольшой отступ между кнопками */
}

.row {
  margin-top: 0.5rem; /* Уменьшаем отступ между строками */
}

.col-10, .col-2 {
  padding: 0; /* Убираем отступы у колонок */
}

img {
  width: 5 rem;
}