body {
    background-color: whitesmoke;
}

nav {
    background-color: whitesmoke;
}

.category-checkbox:checked + label {
  background-color: #007bff; /* Цвет фона для выбранного состояния */
  color: white; /* Цвет текста для выбранного состояния */
}
