.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #1c1c21;
    color: white;
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 0 180px 0 235px;

    background-image: url('../../../public/backHeader.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title p {
    margin: 0;
    padding: 0;
}
